@import "./modulos/variables";
@import "./modulos/fonts";
@import "./modulos/header";
@import "./modulos/footer";
@import "./modulos/paginaindex/index.scss";
@import "./modulos/paginaproductos/productos.scss";
@import "./modulos/paginamedidas/medidas.scss";
@import "./modulos/paginainformacion/informacion.scss";
@import "./modulos/paginaformulario/formulario";
@import "./modulos/mediaquery";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 




