
#body_index {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    main {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr;
      grid-template-areas: 
        "sectionUno"
        "sectionDos";
      height: 90%;
      
      .sectionUno {
        height: 60%;
        .index_titulo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 20px;
           h1{
            font-size: 3rem;
            color: $color_titulos;
            font-family: $fuente_titulos;
          }
        }
        
        .index_Parrafo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          p {
            font-size: 30px;
            font-family: $fuente_principal;
            text-align: center;
            padding: 10px;
            span{
               a{
                text-decoration: none;
                color: red;
                &:hover{
                    text-decoration: underline;
                    color: red;
                }
               }
                
            }
          }
        }
      }
      
      .sectionDos {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
        
        .icono_index {
          width: 300px;
          height: 300px;
          border: 2px solid black;
          border-radius: 8px;
          padding: 20px;
          text-align: center;
          box-shadow: 0,0,0,0.2;
          transition: all 400ms ease;
          &:hover{
            box-shadow: 5px 7px 30px rgba(199, 91, 91, 0.8);
          }
          
          img {
            height: 100px;
            width: 100px;
            color:black;
            background-color: pink;
            border-radius: 50%;
            margin-bottom: 5px;

          }
          p{
            font-size: 2rem;
            font-family: $fuente_principal;
            margin-top: 10px;
          }
        }

      }
    }
  }
  